.Info {
  margin: 1.5rem;
  overflow: hidden;

  .block {
    padding: 1rem;
    overflow: hidden;
    //background: var(--semi-color-bg-1);
    border-radius: 15px;
    margin-bottom: 1.25rem;
  }

  .basic {
    h2 {
      font-weight: 200;
      margin-bottom: 0;

      span {
        letter-spacing: 0.3rem;
      }
    }

    p {
      margin: 0;
      color: var(--semi-color-text-3);
    }
  }

  .other {
    ul {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        height: 3rem;
        line-height: 3rem;
        font-size: 0.875rem;
        margin-inline: 2rem;
        border-bottom: 2px dashed var(--semi-color-border);

        body[theme-mode='dark'] & {
          border-bottom: none;
        }

        &:last-of-type {
          border-bottom: none;
        }

        .icon {
          position: relative;
          top: 6px;
        }

        span.text {
          margin-left: 1rem;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .Info {
    display: none;
  }
}
