.Info {
  margin: 1.5rem;
  overflow: hidden;

  .block {
    padding: 1rem;
    overflow: hidden;
    background: var(--semi-color-bg-1);
    border-radius: 15px;
    margin-bottom: 1.25rem;
  }

  .basic {
    h2 {
      font-weight: 200;
      margin-bottom: 0;

      span {
        letter-spacing: .3rem;
      }
    }

    p {
      margin: 0;
      color: var(--semi-color-text-3)
    }
  }
}

