.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--semi-color-bg-0);
  z-index: 99;
  transition: top 2s linear, opacity .5s linear;

  p {
    opacity: .2;
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 1rem;
  }

  .hitokoto {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: .2;
  }

  &.fade-out {
    opacity: 0.1;
    top: 100vh;
    background: rgba(var(--semi-white), .3);
    .hitokoto {
      display: none;
    }
  }

  body[theme-mode=dark] &.fade-out {
    background: rgba(22, 22, 26, .3);
  }
}
