@font-face {
  font-family: "Cour";
  src: url("./Courier.ttf");
}

@font-face {
  font-family: "Noto";
  src: url("NotoSans.ttf");
}

:root {
  font-size: 18px;
  --theme-light-bg: rgba(250, 250, 250, 1);
}

body {
  background: var(--semi-color-bg-0);
  transition: background-color .5s ease;

  &::-webkit-scrollbar {
    background: var(--semi-color-bg-0);
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(var(--semi-blue-6), .5);
  }
}


#main {
  width: 1200px;
  margin: 3rem auto;
  font-weight: 500;
  color: var(--semi-color-text-0);

  .content {
    font-family: "Cour", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;

    p {
      line-height: 1.77;
      margin-top: 0;
    }

    h1 {
      font-size: 2.5rem;
      letter-spacing: .2rem;
      margin-bottom: 10px;
      //text-align: right;
    }

    h2 {
      font-size: 1.45rem;
      margin-top: 2rem;
      margin-bottom: 10px;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
      }
    }

    .readme {
      //text-align: right;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .skill {
      .skill-list {
        margin-top: 1rem;

        .skill-item {
          margin-bottom: 1rem;
          width: 90%;

          span {
            display: block;
            font-weight: 600;
            margin-bottom: 10px;
          }
        }
      }
    }

    .projects {
      .project-list {
        margin-top: 1rem;
        overflow: hidden;
      }
    }
  }
}

